{% extends "base.html" %} 
{% block content %} 
        <h1>{{title}}</h1>
        <h3>Nietzsche ipsum📖<h3> 
        <p>Madness derive overcome christian pious ultimate aversion faith battle pious virtues free endless dead. Superiority selfish love mountains play. Love victorious chaos decrepit right. Strong convictions disgust fearful decrepit. Salvation strong intentions right of ultimate pious abstract love grandeur ultimate. Victorious evil burying revaluation hatred snare gains oneself. Self dead.</p>

<div class="flexible">
  <div style="max-width:300px">
      <img src="https://fastly.picsum.photos/id/169/2500/1662.jpg?hmac=3DBeyQbiPxO88hBdhIuFPbvy2ff7cm9vmnq8lPIL9Ug"/>
  </div>
</div>
{% endblock %} 
