{% extends "base.html" %} 
{% block content %} 
        <h1>{{title}}</h1>
        <p>Home is where the heart is!</p> 
        <div class="flexible">
          <div style="max-width:300px">
              <img src="https://picsum.photos/id/237/536/354" />
          </div>
        </div>
<h3>🏴‍☠️Pirate Ipsum🏴‍☠️</h3>
<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>

{% endblock %} 
